.WagonList {
    color:black;
}

.WagonElementInfo {
    padding:5px;
}

.WagonImageInWagonElement {
    padding-right: 20px;
}

.FixedHeightArchieveTable {
    float:right;
    height:100%;
    width:100%;
}

.Content {
    height:100%;
    overflow:auto;
}