.WagonList {
    color:black;
}

.WagonElementInfo {
    padding:5px;
}

.WagonImageInWagonElement {
    padding-right: 2vw;
}

.ArchieveHolder {
    float:right;
    height:100%;
    width:100%;
}

.ContentHolder {
    height:100%;
    max-height:100%;
    overflow:auto;
}

.TrainListElement {
    color:black;
}

.WrapperClass {
    color:black;
}

.ArchiveWindow {
    float:right;
    height:100%;
    width:100%;
}

.LogWindow {
    float:right;
    height:100%;
    width:100%;
}

.LogHolder {
    float:right;
    height:100%;
    max-height:33vh;
    width:100%;
}

.LogElement {
    text-align: left;
    font-size: 15px;
    color: black;
    overflow: auto;
}

.LogElementFail {
    text-align: left;
    font-size: 15px;
    color: red;
    overflow: auto;
}

.LiveWagonNumber {
    color:green;
    padding-top: 0.9vh;
    font-size: 3.9vh;
}

.LiveWagonState {
    color: #787878;
    cursor: pointer;
    font-size: 2.9vh;
}

.LiveWagonEmptyWindow {
    padding: 20px;
}

.LiveWagonError {
    color: red;
    padding-top: 0.9vh;
    font-size: 3.9vh;
}

.LiveWagonErrorState {
    color: red;
    font-weight: bold;
    cursor: pointer;
    font-size: 2.9vh;
}

.ModalOverlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.7);
}

.InfoModalOverlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 10.4vh;
    bottom: 0;
    max-height: 59.6vh;
    max-width: 74.8vw;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 100;
}

.InfoModalBigOverlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 10.4vh;
    bottom: 0;
    max-height: 89.7vh;
    max-width: 74.8vw;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 100;
}

.Modal {
    position: relative;
    z-index: 200;
    border: 2px solid #787878;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    max-width: 30vw;
    max-height: 30vh;
    left: 35vw;
    right: 35vw;
    top: 35vh;
    bottom: 35vh;
}

.InfoModal {
    position: relative;
    z-index: 200;
    border: 2px solid #787878;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    max-width: 30vw;
    max-height: 30vh;
    left: 22vw;
    right: 48vw;
    top: 15vh;
    bottom: 45vh;
}

.ModalGridContainer {
    position: relative;
    z-index: 500;
    display: grid;
    gap: 5px;
    height: 100%;
    width: 100%;
    grid-template-areas: "imageArea contentArea" "imageArea buttonArea";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    text-align: center;
    background-color: #f0f0f0;
}

.ModalImageSegment {
    grid-area: imageArea;
    border: 1px solid #f0f0f0;
    border-radius: 3px;
    background-color: white;
    padding: 1.5vh;
}

.ModalContentSegment {
    grid-area: contentArea;
    border: 1px solid #f0f0f0;
    border-radius: 3px;
    background-color: white;
    padding: 1.5vh;
    padding-top: 5vh;
    font-size: 2.2vh;
}

.ModalButtonSegment {
    grid-area: buttonArea;
    border: 1px solid #f0f0f0;
    border-radius: 3px;
    background-color: white;
    padding: 2vh;
}

.ModalCloseButton {
    position: relative;
    left: -5%;
    font-size: 2.2vh;
    padding: 5px;
    padding-left: 0.3vw;
    padding-right: 0.3vw;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    cursor: pointer;
}

.ModalAcceptButton {
    position: relative;
    left: 5%;
    font-size: 2.2vh;
    padding: 5px;
    padding-left: 0.3vw;
    padding-right: 0.3vw;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    cursor: pointer;
}

.ModalInputField {
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 0.5vh;
}

.ModalImage {
    height: 13vh;
}

.ModalImage2 {
    height: 13vh;
}

.FullItem {
    color: #34df29;
    font-weight: bold;
}

.EmptyItem {
    color: red;
    font-weight: bold;
}

.ToolBarHolder {
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "toolbarImageArea toolbarClientInfoArea toolbarWagonStateInfoArea toolbarWagonInfoArea";
}

.LogoImageHolder {
    grid-area: toolbarImageArea;
}

.ClientInfoHolder {
    grid-area: toolbarClientInfoArea;
}

.WagonInfoHolder {
    grid-area: toolbarWagonInfoArea;
}

.WagonStateInfoHolder {
    grid-area: toolbarWagonStateInfoArea;
}

.LogoImage {
    position: absolute;
    left: 0.5vw;
    max-height: 8vh;
    padding-top: 0.9vh;
}

.ToolBarTimeStatus {
    position: absolute;
    right: 1vw;
    color: #000;
    padding-top: 1.5vh;
    font-size: 2.5vh;
}

.ToolBarWagonStatus {
    position: absolute;
    right: 1vw;
    color: #000;
    padding-top: 5vh;
    font-size: 2.5vh;
}

.TimeItem {
    font-size: 17px;
}

.ModalWagonInfoGridContainer {
    display: grid;
    gap: 5px;
    height: 100%;
    width: 100%;
    grid-template-areas: "imageArea1 imageArea2" "toolsArea toolsArea";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    text-align: center;
    background-color: #f0f0f0;
}

.ModalWagonInfoImage1 {
    grid-area: imageArea1;
    border: 1px solid #f0f0f0;
    border-radius: 3px;
    background-color: white;
    padding-top: 3.5vh;
}

.ModalWagonInfoImage2 {
    grid-area: imageArea2;
    border: 1px solid #f0f0f0;
    border-radius: 3px;
    background-color: white;
    padding-top: 3.5vh;
}

.ModalWagonInfoTools {
    grid-area: toolsArea;
    border: 1px solid #f0f0f0;
    border-radius: 3px;
    background-color: white;
    padding-top: 2.5vh;
    font-size: 2.1vh;
}

.WagonInfoImageComponent {
    height: 15vh;
}

.FullWagonLiveComponent {
    background-color: #bbbbbb;
}

.EmptyWagonLiveComponent {
    background-color: #fff;
}

.CurrentlyOnStationItem {
    color: #059a00;
}

.ToolBarEmptyWagonStatus {
    position: absolute;
    right: 26vw;
    color: #000;
    font-size: 2.5vh;
    padding-top: 1.5vh;
}

.ToolBarFullWagonStatus {
    position: absolute;
    right: 26vw;
    color: #000;
    font-size: 2.5vh;
    padding-top: 5vh;
}

.ToolBarClientInfoStatus {
    position: absolute;
    right: 60vw;
    color: #000;
    font-size: 2.5vh;
    padding-top: 5vh;
}

.ToolBarClientName {
    position: absolute;
    right: 60vw;
    color: #000;
    font-size: 2.5vh;
    padding-top: 1.5vh;
}