.WagonList {
    color:black;
}

.WagonElementInfo {
    padding:5px;
}

.WagonImageInWagonElement {
    padding-right: 20px;
}

.ArchieveHolder {
    float:right;
    height:100%;
    width:100%;
}

.ContentHolder {
    height:100%;
    overflow:auto;
}

.TrainListElement {
    color:black;
}

.WrapperClass {
    color:black;
}

.ArchiveWindow {
    float:right;
    height:100%;
    width:100%;
}