.GridContainer {
    display: grid;
    background-color: #000;
    gap: 5px;
    height: 100vh;
    width: 100vw;
    grid-template-areas: "toolBar toolBar" "liveWindow archiveWindow" "logWindow archiveWindow";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 5fr 3fr;
}

.ToolBar {
    grid-area: toolBar;
    text-align: center;
    background-color: #f0f0f0;
}

.LiveWindow {
    grid-area: liveWindow;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #f0f0f0;
}

.LiveWindow2 {
    display: grid;
    gap: 20px;
    height: 100%;
    max-height: 55vh;
    width: 100%;
    grid-template-areas: "q1 q2 q3 q4 q5" "q6 q7 q8 q9 q10" "q11 q12 q13 q14 q15" "q16 q17 q18 q19 q20" "q21 q22 q23 q24 q25";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.ArchiveWindow {
    grid-area: archiveWindow;
    text-align: center;
    background-color: #f0f0f0;
}

.LogWindow {
    grid-area: logWindow;
    text-align: center;
    background-color: #f0f0f0;
}

.q1 {
    grid-area: q1;
    background-color: #d3d3d3;
    border: 2px solid #787878;
    border-radius: 9px;
}

.q2 {
    grid-area: q2;
    background-color: #d3d3d3;
    border: 2px solid #787878;
    border-radius: 9px;
}

.q3 {
    grid-area: q3;
    background-color: #d3d3d3;
    border: 2px solid #787878;
    border-radius: 9px;
}

.q4 {
    grid-area: q4;
    background-color: #d3d3d3;
    border: 2px solid #787878;
    border-radius: 9px;
}

.q5 {
    grid-area: q5;
    background-color: #d3d3d3;
    border: 2px solid #787878;
    border-radius: 9px;
}

.q6 {
    grid-area: q6;
    background-color: #d3d3d3;
    border: 2px solid #787878;
    border-radius: 9px;
}

.q7 {
    grid-area: q7;
    background-color: #d3d3d3;
    border: 2px solid #787878;
    border-radius: 9px;
}

.q8 {
    grid-area: q8;
    background-color: #d3d3d3;
    border: 2px solid #787878;
    border-radius: 9px;
}

.q9 {
    grid-area: q9;
    background-color: #d3d3d3;
    border: 2px solid #787878;
    border-radius: 9px;
}

.q10 {
    grid-area: q10;
    background-color: #d3d3d3;
    border: 2px solid #787878;
    border-radius: 9px;
}

.q11 {
    grid-area: q11;
    background-color: #d3d3d3;
    border: 2px solid #787878;
    border-radius: 9px;
}

.q12 {
    grid-area: q12;
    background-color: #d3d3d3;
    border: 2px solid #787878;
    border-radius: 9px;
}

.q13 {
    grid-area: q13;
    background-color: #d3d3d3;
    border: 2px solid #787878;
    border-radius: 9px;
}

.q14 {
    grid-area: q14;
    background-color: #d3d3d3;
    border: 2px solid #787878;
    border-radius: 9px;
}

.q15 {
    grid-area: q15;
    background-color: #d3d3d3;
    border: 2px solid #787878;
    border-radius: 9px;
}

.q16 {
    grid-area: q16;
    background-color: #d3d3d3;
    border: 2px solid #787878;
    border-radius: 9px;
}

.q17 {
    grid-area: q17;
    background-color: #d3d3d3;
    border: 2px solid #787878;
    border-radius: 9px;
}

.q18 {
    grid-area: q18;
    background-color: #d3d3d3;
    border: 2px solid #787878;
    border-radius: 9px;
}

.q19 {
    grid-area: q19;
    background-color: #d3d3d3;
    border: 2px solid #787878;
    border-radius: 9px;
}

.q20 {
    grid-area: q20;
    background-color: #d3d3d3;
    border: 2px solid #787878;
    border-radius: 9px;
}

.q21 {
    grid-area: q21;
    background-color: #d3d3d3;
    border: 2px solid #787878;
    border-radius: 9px;
}

.q22 {
    grid-area: q22;
    background-color: #d3d3d3;
    border: 2px solid #787878;
    border-radius: 9px;
}

.q23 {
    grid-area: q23;
    background-color: #d3d3d3;
    border: 2px solid #787878;
    border-radius: 9px;
}

.q24 {
    grid-area: q24;
    background-color: #d3d3d3;
    border: 2px solid #787878;
    border-radius: 9px;
}

.q25 {
    grid-area: q25;
    background-color: #d3d3d3;
    border: 2px solid #787878;
    border-radius: 9px;
    visibility: visible;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}